<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Sales</th>
    </tr>
  </thead>

  <tbody>
    <% employee = @employee %>
      <tr>
        <td><%= employee.first %></td>
        <td><%= employee.last %></td>
        <td><%= employee.email %></td>
       </tr>
       <tr>
        <% employee.sales.each do |employee_sale| %>

          <td><%= employee_sale.id %></td>
          <td><%= employee_sale.id %></td>
          <td><%= employee_sale.sale_amount %></td>
          <td><%= employee_sale.units_sold %></td>
          <td><%= employee_sale.invoice_no %></td>
          <td><%= employee_sale.invoice_frequency %></td>
          <td><%= employee_sale.product.name %></td>
          <td><%= employee_sale.customer.name %></td>
          <td>        </td>
          <td>Next Sale:</td>
          <% end %>
        </tr>
  </tbody>

</table>
